.button{
    /*-fx-border-color: #fd3d3d3;*/
    -fx-border-width: 5px;
    /*-fx-background-color: #b0c4de,linear-gradient(#fafdfe, #e8f5fc),linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);*/
    -fx-text-fill: #000000;
    -fx-font-size:40;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #3f58a3 0%, #164d90 100%),#034b9d,#168ad8,radial-gradient(center 50% 50%, radius 100%, #168ad8, #034b9d);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.button:hover{
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #5c7fea 0%, #0564ff 100%), #0369fb, #168ad8,radial-gradient(center 50% 50%, radius 100%, #168ad8, #034b9d);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-cursor: hand;
}

.text-field{
    -fx-text-fill: black;
}

.label{
    -fx-text-fill: white;
    -fx-font-size: 20;
}

GridPane{
    -fx-background-color: grey;
    -fx-opacity: 0.9;
}

VBox{
    -fx-background-color: grey;
    -fx-opacity: 0.9;
}

.welcome{
    -fx-font-size:50;
}

.buttonStop{
    /*-fx-graphic: url("Image/speaker.png");*/
    -fx-background-image: url("Image/speaker.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.buttonStopMuted{
    /*-fx-graphic: url("Image/speaker.png");*/
    -fx-background-image: url("Image/speaker-off.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}